
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    background-color: #212529;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-nav .nav-link {
    color: #f8f9fa;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #adb5bd;
}


.hero-section {
    background-color: #6c757d;
    color: #ffffff;
    padding: 60px 0;
}

.hero-section h1 {
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.hero-section p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Spotify */
.container h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}


.card {
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #666;
}

.btn-outline-dark {
    color: #212529;
    border-color: #212529;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-dark:hover {
    background-color: #212529;
    color: #ffffff;
}


.redes-sociais h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.redes-sociais img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.redes-sociais img:hover {
    transform: scale(1.2);
}
 
footer {
    background-color: #212529;
    color: #adb5bd;
    padding: 20px 0;
}

footer p {
    margin: 0;
    font-size: 1rem;
}


@media (max-width: 768px) {
    .hero-section h1 {
        font-size: 2.5rem;
    }

    .hero-section p {
        font-size: 1.2rem;
    }

    .card-title {
        font-size: 1.3rem;
    }

    .card-text {
        font-size: 0.9rem;
    }

    .redes-sociais img {
        width: 40px;
        height: 40px;
    }
}
